<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles Scientifiques IA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Articles Scientifiques IA</h1>
        <div class="paper-grid">
            {% for paper in papers %}
            <div class="paper-box" style="opacity: 0; transform: translateY(20px);">
                <h2>{{ paper.name }}</h2>
                <p><strong>Auteurs :</strong> {{ paper.authors }}</p>
                <div class="key-points">
                    <h3>Points Clés</h3>
                    <ul>
                        {% for key, value in paper.key_points.items() %}
                        <li><strong>{{ key }}:</strong> {{ value }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="summary">
                    <h3>Résumé</h3>
                    <div class="summary-content">
                        <p class="summary-text">{{ paper.resum }}</p>
                        <button class="toggle-btn" type="button">Voir Plus</button>
                    </div>
                </div>
                <div class="download-pdf">
                    <a href="{{ paper.pdf_link }}" download class="download-btn">Télécharger le PDF</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>